.shadow-custom{
    box-shadow:7px 7px 15px #45566754, -8px -8px 15px rgb(81 101 121 / 4%),
    inset -5px -4px 13px 0px rgb(81 101 121 / 35%),
    inset 6px 7px 12px 0px rgb(255 255 255 / 94%);
}
.field-input{
    box-shadow:inset 4px 4px 8px rgb(189 200 213),
    inset -4px -4px 8px rgb(255 255 255);

  --boxShadow3: inset 4px 4px 8px rgb(189 200 213),
    inset -4px -4px 8px rgb(255 255 255);

  --sbShadow: 5px 5px 7px rgb(0 0 0 /25%),
    inset 2px 2px 5px rgb(255 255 255 / 25%),
    inset -3px -3px 5px rgb(0 0 0 / 12%);
    border-radius: 25px;
}
.bg-register{
    background-image: url('https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?w=740&t=st=1684403458~exp=1684404058~hmac=60e93e44b0465a32428e3fec7a8a938eaa7bd406d9e451158ac0f0a72e2053c5');
}